.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 103px;
  overflow-y: auto;
  padding-right: 10px;
  list-style: none; /* Забираємо стандартні маркери списку */
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color, #ccc) transparent;
  margin: 0; /* Забираємо стандартний відступ списків */
  padding: 0; /* Забираємо стандартний внутрішній відступ */
}

.features.disableScroll {
  max-height: none;
  overflow-y: visible;
}

.featureItem {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  padding: 12px 18px;
  height: 48px;
  background: var(--badges);
  mix-blend-mode: multiply;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
}
