.vehicleDetails h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 24px;
  border-bottom: 1px solid var(--gray-light);
  padding-bottom: 24px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: left;
  color: var(--main);
  padding: 8px;
  width: 50%;
}

td {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  padding: 8px;
  text-align: right;
  width: 50%;
}

tr:nth-child(even) {
  background-color: var(--gray-light);
}
