.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Вирівнювання по верхньому краю */
  position: relative;
  width: 100%;
  padding: 16px 32px; /* Відступ для логотипа */
  background-color: var(--inputs);
  border-bottom: 1px solid var(--badges);
}

.logo {
  position: absolute;
  top: 16px;
  left: 32px; /* Логотип в лівому верхньому куті */
}

.navButtons {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin: 0 auto; /* Центруємо кнопки */
  list-style: none;
  padding: 0;
}

.navButton {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
}

.navButton.active {
  color: var(--button-hover);
}
