.bookingForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  color: var(--main);
  margin-bottom: 8px;
}

.description {
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--gray);
  margin-bottom: 24px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  border-radius: 12px;
  padding: 18px 18px;
  width: 500px;
  height: 60px;
  background-color: var(--inputs);
  border: none;
}

.textarea {
  border-radius: 10px;
  padding: 18px;
  width: 500px;
  height: 118px;
  background: var(--inputs);
  border: none;
  resize: none;
}

.input:focus,
.textarea:focus {
  outline: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.button {
  background-color: #e94e3c;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 200px;
  width: 166px;
  height: 56px;
  cursor: pointer;
}

.button:hover {
  background-color: #d63c2f;
}
