.camperCard {
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 368px;
  background: var(--white);
  display: flex;
}

.camperImage img {
  border-radius: 10px;
  width: 292px;
  height: 320px;
  object-fit: cover;
}

.camperDetails {
  flex: 1;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* HEADER */
.camperHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.camperHeader h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.headWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* PRICE */
.priceWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
}

.heartIcon {
  cursor: pointer;
  transition: transform 0.3s, fill 0.3s;
  color: var(--gray-dark);
}

.heartIcon:hover {
  transform: scale(1.1);
  color: var(--button-hover);
}

/* RATING */
.ratingLocation {
  display: flex;
  margin-top: 8px;
  gap: 16px;
}

.textStyle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

/* DESCRIPTION */

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
}

/* BUTTONS */

.showMore {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
}
